/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
    background: #F8F6F1;
    min-height: 70 vh;
    display: flex;
}

/* TOPBAR */
.topbar {
    background: #F8F6F1;
    padding: 15px 25px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar h1 {
    font-size: 26px;
    font-weight: 600;
}


/* BOTÓN SALIR */
.cerrar-sesion {
    margin-top: 20px;
    background: #ff4b5c;
    border: none;
    color: white;
    padding: 10px 35px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.cerrar-sesion:hover {
    background: #e63946;
    transform: translateY(-2px); /* Pequeño efecto 3D */
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.content-area {
 margin-left: 250px; /* Igual al ancho del sidebar */
    padding: 20px;
    width: calc(100% - 250px);
   
}
/* CONTENEDOR PRINCIPAL CENTRADO */
.admin-box {
    width: 100%;
    max-width: 2000px;
    min-height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 35px;
    border: 2px solid rgba(255,255,255,0.4);
    background: #F8F6F1;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}


.titulo-area{
       margin: 10px;
       color: #A7D7B8;
       -webkit-text-stroke: 1px #4E796B;
       font-size: 18px;     
}


/* CONTENEDOR DEL FORMULARIO */
.registro-box {
    width: 100%;
    max-width: 400px;
    background: #E1EAE5;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,0.4);
    box-shadow: 0 15px 40px rgba(0,0,0,0.05);
}

/* TÍTULO */
.registro-box h2 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #4E796B;
    letter-spacing: 1px;
}

/* FORMULARIO */
.registro-box form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* INPUTS */
.registro-box input {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #cfd9e6;
    background: #F8F6F1;
    font-size: 15px;
    outline: none;
    transition: 0.2s ease;
}

.registro-box input:focus {
    border-color: #06bd8f;
    background: #F8F6F1;
    box-shadow: 0 0 8px rgba(0,148,184,0.3);
}

/* BOTÓN */
 .btn-group .btnRegistrar {
    padding: 10px;
    border-radius: 12px;
    border: none;
    background: #66B2A0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s ease;
    font-weight: 600;
    letter-spacing: .5px;
}
.btn-group .btnCancelar {
    background: #f04859;
        color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s ease;
    font-weight: 600;
    letter-spacing: .5px;
       padding: 10px;
    border-radius: 12px;
    border: none;
}

button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
    box-shadow: 0 8px 20px rgba(11, 231, 147, 0.4);
}



.btn-group button {
    flex: 1;
    margin: 0 5px;
    width: 45%;

}

select {
        width: 350px;
        padding: 10px;
        border-radius: 8px;
        border: 2px solid #ffffff;
        background-color: #f5f5f5;
        font-size: 16px;
        color: #333;
        outline: none;
        transition: 0.3s ease;
}

select option {
        padding: 10px;
}

