* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background: linear-gradient(135deg, #00f8b6 0%, #006e93 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 0;
    width: 92%;
    max-width: 2000px;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.login-box {
    background: white;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #00394d;
}


.login-box form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-box input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    background: #eef4ff;
    font-size: 15px;
    outline: none;
}

.login-box button {
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #0094b8, #006a84);
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box a {
    margin-left: 95px;
    color: rgb(28, 48, 231);
    font-size: 17px;
 
}
.login-box button:hover {
    opacity: 0.85;
}
.img-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #006e78;
}

.img-box img {
    
    object-fit: contain;
}

.login-box form .rol-group {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 5px;
}


.login-box form .rol-group input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    
}
/* Responsive */
@media (max-width: 900px) {
    .main-box {
        grid-template-columns: 1fr;
        height: auto;
    }

    .img-box { display: none; }
}
